@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  font-family: "Black Ops One", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0 !important;
  overflow-x: hidden !important;
}
html,
body
 {
  overflow-x: hidden;
}

section {
  width: 100% !important;
} 


img {
  transition: transform 0.3s ease-in-out !important;
}

img:hover {
  transform: scale(1.03) !important;
}


.btn {
  transition: transform 0.3s ease-in-out !important;
}

.btn:hover {
  transform: scale(1.05) !important;
}


.card {
  transition: transform 0.3s ease-in-out !important;
}

.card:hover {
  transform: translateY(-5px) !important;
}


a {
  text-decoration: none !important;
  color: white !important;
}

a:hover {
  color: yellow !important;
}


.navbar {
  z-index: 1000 !important;
}

.navbar-toggler {
  border: 1px solid white !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


form {
  transition: transform 0.3s ease-in-out !important;
}

form:hover {
  transform: scale(1.1) !important;
}

.hero-bg-text {
  font-size: 18rem;
  opacity: 0.1;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 767.98px) {

  .hero-content h1 {
    font-size: 2rem !important;
  }

  
  .hero-bg-text {
    font-size: 20rem !important;
    opacity: 0.1;
    left: 50% !important;
}

  .card:hover,
  .btn:hover,
  img:hover,
  form:hover {
    transform: none !important;
  }

}